!!!
%html
  %head
    %title
      Meu Sistema
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          =link_to "Meu Sistema", "#", :class => :brand

    -flash.each do |key,value|
      %div{:class => "alert alert-#{key}"}
        =value
    %div.well.container
      = yield
